@font-face {
  font-family: 'SFUITextMedium';
  font-style: normal;
  font-weight: normal;
  src: url('SFUIText-Medium.eot');
  src:
    url('./../../assets/fonts/SFUIText-Medium.eot?#iefix')
    format('embedded-opentype'),
    url('./../../assets/fonts/SFUIText-Medium.woff2') format('woff2'),
    url('./../../assets/fonts/SFUIText-Medium.woff') format('woff'),
    url('./../../assets/fonts/SFUIText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'robotoSlabBold';
  font-style: normal;
  font-weight: normal;
  src: url('./../../assets/fonts/robotoslab-bold-webfont.eot');
  src:
    url('./../../assets/fonts/robotoslab-bold-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('./../../assets/fonts/robotoslab-bold-webfont.woff2') format('woff2'),
    url('./../../assets/fonts/robotoslab-bold-webfont.woff') format('woff'),
    url('./../../assets/fonts/robotoslab-bold-webfont.ttf') format('truetype');
}
