* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 16px;

  @include tablet {
    font-size: 14px;
  }

  @include phoneMax {
    font-size: 13px;
  }

  @include phone {
    font-size: 12px;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
figure {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:link,
a:visited,
a:hover,
a:active {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: normal;
}

button {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

#react-container {
  height: 100%;
}

.container {
  width: 100%;
  max-width: $container-width;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.button {
  @extend %main-page-button;

  border: 1px solid #107929;
  background-image: linear-gradient(-90deg, #2fcb53, #269f42);

  &:hover {
    color: $orange;

    .button__icon {
      fill: $orange;
    }
  }

  &__icon-wrapper {
    width: 30px;
    height: 30px;
    margin-right: $half-indent;
  }

  &__icon {
    display: block;
    width: 100%;
    height: auto;
    transition: $transition;
    fill: $white;
  }

  &--menu-button {
    width: 100%;
  }

  &--github {
    border: 1px solid #150a27;
    background-image: linear-gradient(-270deg, #8241f9, #4e277b);
  }

  &--back {
    margin: auto auto 0;
  }
}
