%centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%stretch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%transition {
  transition: all $transition;
}

%main-page-button {
  @extend %transition;

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  padding: 8px 24px;
  border-radius: $border-radius;
  opacity: 0.67;
  color: $white;

  &:hover {
    opacity: 1;
  }
}

// Adaptive
@mixin desktopMax {
  @media (max-width: 1920px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1800px) {
    @content;
  }
}

@mixin desktopBreakPoint {
  @media (max-width: 1680px) {
    @content;
  }
}

@mixin laptopMax {
  @media (max-width: 1366px) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin laptopBreakPoint {
  @media (max-width: 1042px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phoneMax {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin phoneMaxBreakPoint {
  @media (max-width: 375px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 320px) {
    @content;
  }
}
