/* *** Colors *** */
$transparent-black: rgba(0, 0, 0, 0.54);
$transparent-white: rgba(255, 255, 255, 0.76);
$primary: #020e1a;
$white: #fff;
$orange: #e36209;
$green: #119e47;

/* *** Gradients *** */
$purple-gradient: linear-gradient(-270deg, #8241f9, #4e277b);

/* *** Units *** */
$container-width: 1072px;
$indent: 24px;
$half-indent: 12px;
$border-radius: 6px;

/* *** Timings *** */
$transition: 0.4s;
$flip-card-transition: 1s;
